<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/imgs/btnmenu.png" style=" width: 35px; ">
    </button>
    <ion-title>Niveaux</ion-title>
    <ion-buttons end>
      <button ion-button icon-only><ion-icon name="log-out" style=" color: white; font-size: 28px; "></ion-icon></button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding="animates"  >


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionInput)="searchniveaux($event)"></ion-searchbar>

  <ion-list *ngIf="niveauxs"  >
        <ion-list-header>
          Niveaux
        </ion-list-header>

      <ion-item-sliding *ngFor="let niveaux of niveauxs ;let i=index" class=" animated fadeInLeft item-remove-animate item-avatar item-icon-right">
        <ion-item  class="ionitem" >

           <p><strong> Département :</strong>{{niveaux.nom}}</p>
        </ion-item>
        <ion-item-options>
          <button ion-button (click)="EditNiveaux(niveaux)"  color="secondary" icon-start>
            <ion-icon name="create"></ion-icon>
          </button>
          <button (click)="DeleteNiveaux(niveaux.id)" ion-button color="danger" icon-start>
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>

  </ion-list>


  <ion-fab bottom right #fab>
    <button ion-fab (click)="AddNiveaux()"  style="background-color: #074d86;"><ion-icon name="add" ></ion-icon></button>
  </ion-fab>

</ion-content>
