<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/imgs/btnmenu.png" style=" width: 35px; ">
    </button>
    <ion-title>Matiere</ion-title>
    <ion-buttons end (click)="Logout()">
      <button ion-button icon-only><ion-icon name="log-out" style=" color: white; font-size: 28px; "></ion-icon></button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding="animates"  >


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar (ionInput)="searchmatiere($event)"></ion-searchbar>

  <ion-list *ngIf="matieres"  >
        <ion-list-header>
          Matiere
        </ion-list-header>

      <ion-item-sliding *ngFor="let mat of matieres ;let i=index" class=" animated fadeInLeft item-remove-animate item-avatar item-icon-right">
        <ion-item  class="ionitem" >

           <h2><strong> Nom Matiere :</strong> {{mat.nom_matiere}}</h2>
         <h2> <strong>Nom Salle :</strong> {{mat.nom_salle}}</h2>
          <h2><strong>Abréviation :</strong> {{mat.abv}}</h2>
        </ion-item>
        <ion-item-options>
          <button ion-button (click)="EditMatiere(mat)"  color="secondary" icon-start>
            <ion-icon name="create"></ion-icon>
          </button>
          <button (click)="DeleteMatiere(mat.id)" ion-button color="danger" icon-start>
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>

  </ion-list>




  <ion-fab bottom right #fab>
    <button ion-fab (click)="AddMatiere()"  style="background-color: #4CAF50;"><ion-icon name="add" ></ion-icon></button>
  </ion-fab>

</ion-content>
