page-dashboard {
.zonenbr{text-align: center;
    background: #4CAF50;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-top: -26px;
    z-index: 1000000000000;
    float: right;
    position: relative;
    color: white;
    font-size: 20px;
    padding-top: 8px;
    font-family: fantasy;
    margin-right: 5px;
    box-shadow: -1px 1px 1px #2e2f2f;
}

 .styleh3{

 color: white; font-size: 18px; padding-top: 12px;
  }
}
