// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




.toolbar-background-md {
  /* border-color: #074d86; */
  background: none;
  color: white;
}


.toolbar-title-md {
  color: white;
}

.list-md ion-item-sliding {
  margin-top: 5px;
  background-color: #fff;
}
.toolbar-md{ background-image: url(http://i.telegraph.co.uk/multimedia/archive/02073/gr_2073908b.jpg);
  background-size: 100% 130px;  border-color: #074d86; background: #074d86;
  color: white;}


