page-enseignant {

  .list-md ion-item-sliding {
    margin-top: 6px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #9E9E9E;
  }

}


.ionitem{background-color: rgb(239, 239, 239);border-color: #074d86 red red;
  border-width: 6px 10px 10px;border-top-style: outset;}
